<?xml version="1.0" encoding="UTF-8"?>
<content>
    <logflag>0</logflag>
    <advanced_ppc_logging>false</advanced_ppc_logging>
    <mlc_path>/storage/emulated/0/Emulation/storage/cemu/mlc01</mlc_path>
    <permanent_storage>true</permanent_storage>
    <proxy_server></proxy_server>
    <play_boot_sound>false</play_boot_sound>
    <console_language>1</console_language>
    <GamePaths>
        <Entry>/storage/emulated/0/Emulation/roms/wiiu</Entry>
    </GamePaths>
    <GameCache/>
    <GraphicPack/>
    <AccountService/>
    <Debug>
        <CrashDumpUnix>0</CrashDumpUnix>
        <GDBPort>1337</GDBPort>
    </Debug>
    <Input>
        <DSUC host="127.0.0.1" port="26760"/>
    </Input>
    <EmulatedUsbDevices>
        <EmulateSkylanderPortal>false</EmulateSkylanderPortal>
        <EmulateInfinityBase>false</EmulateInfinityBase>
        <EmulateDimensionsToypad>false</EmulateDimensionsToypad>
    </EmulatedUsbDevices>
    <custom_driver_path></custom_driver_path>
</content>
